In [44]:
import pandas as pd

## Reading files

In [45]:
wh2018 = pd.read_csv('2018_v2.csv')
wh2019 = pd.read_csv('2019_v2.csv')

Adding extra column to identify year of population

In [46]:
wh2018['year'] = 2018
wh2019['year'] = 2019

Union of three files

In [47]:
wh = pd.concat([wh2018,wh2019])

In [48]:
wh.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'year'],
      dtype='object')

## Ejercicios

1. Partiendo de Wh, realice un analisis de valores nulos. que porcentaje de valores nulos se encuentran en cada columna por anio. presente el analisis en un dataframe

Ejemplo:

In [49]:
pd.DataFrame({
    "year": [2017,2017]
    , "column" : ["Happiness.Rank","Whisker.low"]
    , "percentage.of.nans" : [0.2,0.2]
})

   year          column  percentage.of.nans
0  2017  Happiness.Rank                 0.2
1  2017     Whisker.low                 0.2

### resolucion ejercicio uno

In [142]:
wh[["year"]].isna()

      year
0    False
1    False
2    False
3    False
4    False
..     ...
151  False
152  False
153  False
154  False
155  False

[312 rows x 1 columns]

2. partiendo de Wh, por año muestre un resumen de todas las columnas.

nota: aunque solo tenemos tres años, que pasaria si en nuestro dataframe tenemos 20 años? resuelva su ejercicio lo mas dinamico que se pueda

### resolucion ejercicio dos

3. partiendo de Wh, remplace los valores NaN de las columnas por su mean, el mean debe de ser calculado por año para ser mas exacto

### resolucion ejercicio tres

In [160]:
wh.fillna(0).mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.632           1.305
1               2                    Norway  7.594           1.456
2               3                   Denmark  7.555           1.351
3               4                   Iceland  7.495           1.343
4               5               Switzerland  7.487           1.420
..            ...                       ...    ...             ...
151           152                    Rwanda  3.334           0.359
152           153                  Tanzania  3.231           0.476
153           154               Afghanistan  3.203           0.350
154           155  Central African Republic  3.083           0.026
155           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.592                    0.874                         0.681
1             1.582                    0.861                         0.686
2             1.590                    0.868                         0.683
3             0.000                    0.914                         0.677
4             1.549                    0.927                         0.660
..              ...                      ...                           ...
151           0.711                    0.614                         0.555
152           0.885                    0.499                         0.417
153           0.517                    0.361                         0.000
154           0.000                    0.105                         0.225
155           0.575                    0.295                         0.010

     Generosity  Perceptions of corruption   year  porcentaje
0         0.202                      0.393  False       False
1         0.286                      0.340  False       False
2         0.284                      0.408  False       False
3         0.000                      0.138  False       False
4         0.256                      0.357  False       False
..          ...                        ...    ...         ...
151       0.217                      0.411  False       False
152       0.276                      0.147  False       False
153       0.158                      0.025  False       False
154       0.235                      0.035  False       False
155       0.202                      0.091  False       False

[312 rows x 11 columns]>

4. Partiendo de Wh limpio, para cada metrica por pais, muestra la diferencia del ultimo valor encontrado contra el primero.

Ejemplo:

In [62]:
wh.loc[ wh['Country or region'] == 'Switzerland' , : ]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019

Como se puede observar para Switzerland en Score la diferencia seria 7.480 - 7.487

Claramente en su solucion la columna año se debera de eliminar

### resolucion ejercicio cuatro

In [167]:
wh.drop(['year'], axis=1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,porcentaje
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,False
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,False
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,False
3,4,Iceland,7.495,1.343,NaN,0.914,0.677,NaN,0.138,False
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,False
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,False
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,False
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,False
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,False
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,False